<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>
    <a href="{{ '/pages/imprint' | url }}">Imprint</a> ·
    <a href="https://www.exasol.com/terms-and-conditions/#Yotilla">Terms & Conditions</a>
  </p>
</footer>
