<footer class="container border-top py-4">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>
    Yotilla is a product of <a href="https://www.exasol.com" target="_blank">Exasol AG</a>  ·
    <a href="https://www.exasol.com/de/impressum/">Imprint</a> ·
    <a href="https://www.exasol.com/terms-and-conditions/#Yotilla">Terms & Conditions</a> ·
    <a class="link" data-bs-toggle="modal" data-bs-target="#modal-contact-us">Contact us</a>
  </p>
</footer>
