---
layout: base
sidebar: true
meta:
  title: Documentation
eleventyNavigation:
  key: Documentation
  order: 3
---

<div class="py-4">
  <h1 class="fw-bold text-body-emphasis lh-1">Documentation</h1>

  <p class="lead">
    Yotilla is a cloud-based solution for automating creation and deployment of a Data Warehouse.
    It allows you to build your Data Warehouse using an easy-to-use web interface, where you can map data to business objects and create business formulas using dropdown menus and drag-and-drop operations.
    Complex transformations and business logic can be implemented using the powerful TinML scripting language.
  </p>
</div>

<div class="py-4">
  <h2 class="border-bottom">How do I get started with Yotilla?</h2>
  <p>
    Your first step is to <a href="{{'/pages/pricing' | url }}">subscribe to Yotilla</a> and create a Yotilla user account. You will then be able to create and manage Yotilla application instances from the Yotilla Portal.
  </p>
</div>

<div class="py-4">
  <h2 class="border-bottom">How do I use this documentation?</h2>
  <p>
    This documentation guides you through the process of creating a data warehouse using Yotilla and explains all the important concepts and features. The documentation consists of the following main sections:
  </p>
  <ul>
    <li>Getting Started (this section) explains how to sign up and spin up your first Yotilla instance.</li>
    <li>Using Yotilla takes you through the steps of building and deploying a data warehouse with Yotilla.</li>
    <li>Concepts explains the main concepts and architecture of Yotilla.</li>
    <li>TinML describes the syntax and keywords of the TinML scripting language.</li>
    <li>Reference explains some of the core concepts in Data Warehousing and provides a glossary of terms used in Yotilla.</li>
  </ul>
  <p>
    If you need help with the product and cannot find what you need in the documentation, contact Support.
  </p>
</div>

<div class="py-4">
  <h2 class="border-bottom">How can I provide feedback?</h2>
  <p>
    If you have questions or suggestions for improvement of this documentation, click on one of the “Was this helpful?” buttons to open a form where you can provide detailed feedback.
  </p>
</div>