---
layout: base
sidebar: true
meta:
  title: Documentation
#eleventyNavigation:
#  key: Documentation
#  order: 3
---

<div class="py-4">
  <h1 class="fw-bold text-body-emphasis lh-1">Documentation</h1>

  <p class="lead">
    Yotilla is a Cloud-based solution for automating creation and deployment of a Data Warehouse.
    It allows you to build your Data Warehouse using an easy-to-use web interface, where you can map data to business objects and create business formulas using dropdown menus and drag-and-drop operations.
    Complex transformations and business logic can be defined with business formulas and Custom Views.
  </p>
</div>

<div class="py-4">
  <h2 class="border-bottom">How do I use this documentation?</h2>
  <p>
    This documentation guides you through the process of creating a Data Warehouse using Yotilla and explains all the important concepts and features. 
    The documentation consists of the following main sections:
  </p>
  {{ collections.all | eleventyNavigation(eleventyNavigation.key) | eleventyNavigationToHtml | safe }}
  <p>
    If you need help with the product and cannot find what you need in the documentation, contact Support.
  </p>
</div>