---
layout: base
meta:
  lang: en
  title: Pricing
  description: "Flexible pricing that focuses on your Return On Investment. Pay for what gives you value: Data Mart attributes."
eleventyNavigation:
  key: Pricing
  order: 2
---


<div class="container px-4 py-3 my-3 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Pricing</h1>
  <h2>Pay for what gives you value: Data Mart attributes</h2>
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Flexible pricing that focuses on your Return On Investment.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3" data-bs-toggle="modal" data-bs-target="#modal-contact-us">Contact us</button>
      </div>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-3">
        <a class="icon-link" href="https://aws.amazon.com/marketplace/pp/prodview-irz3tf6c7owr4" target="_blank">Show Yotilla in the AWS Marketplace <i class="bi bi-box-arrow-up-right"></i></a>
      </div>
    </div>
  </div>
</div>

{% macro pricePackage(tier='Tier', price='20.000€', dma='500', pricePerDMA='4,17€', instances='1' ) %}
<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
      <h4 class="my-0 fw-normal">{{ tier }}</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">{{price}} <small class="text-body-secondary fw-light fs-6">/month</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>{{dma}} Data Mart attributes</li>
        <li><small>{{instances}} Yotilla Instance(s)</small></li>
        <li><small>{{pricePerDMA}} / additional Data Mart attribute</small></li>
        <li><small>Unlimited seats / users</small></li>
      </ul>
    </div>
  </div>
</div>
{% endmacro %}

<div class="container px-4 py-3 text-center">
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4">

    {{pricePackage('Small', '2.080€', '500', '4,17€', '1')}}
    {{pricePackage('Medium', '3.750€', '1.000', '3,75€', '1')}}
    {{pricePackage('Large', '6.250€', '2.000', '3,13€', '2')}}
    {{pricePackage('X-Large', '8.330€', '3.500', '2,38€', '3')}}

  </div>
</div>

<div class="container px-4 py-3">
  <h2 class="border-bottom mb-3">Metering</h2>

  <div class="row">
    <div class="col">
      <p>
        The unit in which consumption is measured is the total number of deployed Data Mart attributes per month.
        The number of deployed Data Mart attributes for an Yotilla instance per month is the maximum of deployed Data Mart attributes over all environments (e.g., development and production) of the Yotilla instance per month.
        The total number of deployed Data Mart attributes is the sum of deployed Data Mart attributes over all instances per month.
      </p>
      <p>
        Each package includes a fixed number of deployed Data Mart attributes. Metering of the additional deployed Data Mart attributes takes place when the number of deployed Data Mart attributes exceeds the number of included deployed Data Mart attributes.
      </p>
      <p>
        In addition, each package includes a fixed number of Yotilla instances. Metering of the additional Yotilla instances only takes place when the number of started Yotilla instances exceeds the number of included Yotilla instances.
      </p>
    </div>
  </div>
</div>