---
layout: base
meta:
  title: Product
eleventyNavigation:
  key: Product
  order: 1
---

{# Hero #}
<div class="container px-4 py-4">
  <div class="row flex-lg-row-reverse align-items-center g-5">
    <div class="col">
      <video
          id="yotilla-teaser-player"
          class="video-js"
          style="width: 700px; height: 394px;"
          controls
          preload="auto"
          autoplay="true"
          muted="true"
          poster="{{ '/assets/video/yotilla-teaser-thumbnail.png' | url}}"
          data-setup="{}">
        <source src="{{ '/assets/video/yotilla-teaser.mp4' | url }}" type="video/mp4"></source>
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web   browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>.
        </p>
      </video>
    </div>
    <div class="col">
      <h1 class="display-7 fw-bold text-body-emphasis lh-1">Full Data Warehouse Automation</h1>
      <h2 class="text-body-emphasis lh-1"><span class="text-muted">No Data Vault know-how required</span></h2>
      <p class="lead">
        Yotilla is a service that automatically provides a Data Warehouse that adapts at the same pace that business changes. 
        Unlike other Data Warehouse Automation solutions on the market, Yotilla does not require any Data Vault know-how or Data Modelling to automate the Data Warehouse.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary btn-lg px-4 me-md-2" href="#product-features">Product features</a>
        <a class="btn btn-outline-secondary btn-lg px-4" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/marco-naetlitz-yotilla/30min'});return false;">Book a demo</a>
      </div>
    </div>
  </div>
</div>

{# What is Yotilla? #}
<div class="container px-4 py-4">
  <h2 class="pb-2 border-bottom" id="unique-automation-approach">Discover the unique automation approach</h2>

  <div class="row align-items-center my-5">
    <div class="col-md-7">
      <h2 class="fw-normal lh-1" id="conceptual-model">Conceptual Model-driven workflow</h2>
      <p class="lead">
        The unique automation approach of Yotilla is based on a user-defined Conceptual Model. 
        The Conceptual Model describes the sources of the Data Warehouse, the business objects of the sources and the relationships between the business objects.
        <mark>Users define the Conceptual Model with 3 simple steps.</mark>
      </p>
      <a class="icon-link" href="#product-demo">Watch Use Case Demo <i class="bi bi-chevron-right"></i></a>
    </div>
    <div class="col-md-5">
      <ul class="list-unstyled feature-list">
        <li class="py-2 fs-4"><i class="bi bi-1-circle"></i> Map business objects to their sources</li>
        <li class="py-2 fs-4"><i class="bi bi-2-circle"></i> Define business logic with formulas</li>
        <li class="py-2 fs-4"><i class="bi bi-3-circle"></i> Define facts and dimensions for the Data Marts</li>
      </ul>
    </div>
  </div>

  <div class="row align-items-center my-5">
    <div class="col-md-7 order-md-2">
      <h2 class="fw-normal lh-1" id="automated-data-modelling">Fully automated data modelling.<br /><small class="text-muted">No Data Vault know-how required!</small></h2>
      <p class="lead">
        The user-defined Conceptual Model provides a blueprint from which Yotilla derives all the required logical and physical data models of the Data Warehouse. 
        This means that the Raw Vault and the Business Vault are also fully automated. 
        <mark>As a result, Data Vault know-how is not required!</mark>
      </p>
      <a class="icon-link" href="#architecture">Explore the architecture of a Data Warehouse automated with Yotilla <i class="bi bi-chevron-right"></i></a>
    </div>
    <div class="col-md-5">
      <img src="{{'/assets/images/product/automated-data-modelling.png' | url}}" alt="Yotilla automates all logical and physical data models of a Data Warehouse" class="img-fluid" />
    </div>
  </div>

  <div class="row align-items-center my-5">
    <div class="col-md-7">
      <h2 class="fw-normal lh-1" id="customer-benefits">Measuarble benefits for customers</h2>
      <p class="lead">
        Yotilla customers benefit from 9x faster first results and 14x faster adoption of changes compared to legacy Data Warehousing.
        The unique automation approach requires no Data Vault know-how and the high level of automation drastically reduces the number of Data Engineers required.
        <mark>Yotilla thus reduces costs by at least 50%.</mark>
      </p>
      <a class="icon-link" href="{{'/pages/pricing' | url}}">Explore pricing <i class="bi bi-chevron-right"></i></a>
    </div>
    <div class="col-md-5">
      <ul class="list-unstyled feature-list">
        <li class="py-2 fs-4"><span class="badge text-bg-primary">9x</span> faster for the first results</li>
        <li class="py-2 fs-4"><span class="badge text-bg-primary">14x</span> faster adoption of changes</li>
        <li class="py-2 fs-4"><span class="badge text-bg-primary">>50%</span> cost savings</li>
        <li class="py-2 fs-4"><span class="badge text-bg-primary">No</span> Data Vault know-how required</li>
      </ul>
    </div>
  </div>

  <div class="row align-items-center my-5">
    <div class="col-md-7 order-md-2">
      <h2 class="fw-normal lh-1">Supported databases</h2>
      <p class="lead">
        You own your data! Yotilla follows the ELT approach so that data never flows through Yotilla. 
        Instead, Yotilla generates SQL statements and <mark>lets the database do the heavy lifting</mark>.
      </p>
      <p class="lead">
        Currently, we support <a href="https://aws.amazon.com/redshift/" target="_blank">AWS Redshift</a>, <a href="https://www.exasol.com" target="_blank">Exasol</a> and <a href="https://www.snowflake.com" target="_blank">Snowflake</a>.
      </p>
    </div>
    <div class="col-md-5">
      <img src="{{'/assets/images/product/supported-databases.png' | url}}" alt="Yotilla automates all logical and physical data models of a Data Warehouse" class="img-fluid" />
    </div>
  </div>
</div>

{% macro productFeature(featureTitle, text='Some text about the feature', icon='bi-question', href='#' ) %}
  <div class="col d-flex align-items-start">
    <i class="text-body-secondary flex-shrink-0 me-3 bi {{icon }} fs-3"></i>
    <div>
      <h3 class="fw-bold mb-0 fs-5 text-body-emphasis">{{ featureTitle }}</h3>
      <p>{{ text }}</p>
      <!--<a href="{{ href }}" class="icon-link">Explore feature <i class="bi bi-chevron-right"></i></a> -->
    </div>
  </div>
{% endmacro %}

{# Feature Grid #}
<div class="container px-4 py-4" id="product-features">
  <h2 class="pb-2 border-bottom">Product Features</h2>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">

    {{ productFeature(
        'Consolidate attributes of different sources', 
        'Consolidate data from several sources into one business object. Define the leading source per drag&drop.',
        'bi-collection',
        '#'
      ) 
    }}

    {{ productFeature(
      'Separate multiple objects in a source', 
      'Map all business objects of a source within the Conceptual Model. Yotilla will automatically store and integrate them separately.',
      'bi-crop',
      '#'
      ) 
    }}

    {{ productFeature(
      'Load and inscription timelines', 
      'Yotilla automatically stores the data of the business objects with a load and an iscription timeline. The inscription timeline must be provided by the source.',
      'bi-clock-history',
      '#'
      ) 
    }}

    {{ productFeature(
      'Business logic with formulas', 
      'Define business logic as a scalar formula that uses business objects and attributes directly. As the relationships of the business objects are known in the Conceptual Model, the implementation of the formula can be fully automated.',
      'bi-calculator',
      '#'
      ) 
    }}

    {{ productFeature(
      'Customised business logic', 
      'Define customised business logic with a view. The attributes required for the view can be defined in advance. Yotilla automatically provides the data basis for your business logic.',
      'bi-table',
      '#'
      ) 
    }}

    {{ productFeature(
      'Early transformations', 
      'Define source specific transformations to homogenise attributes (e.g. data type format corrections) as a simple formula. These transformations are applied automatically with every load.',
      'bi-pencil-square',
      '#'
      ) 
    }}

    {{ productFeature(
      'Integrated Workflow Engine', 
      'Yotilla automatically generates all required load and transformation processes. The built-in Workflow Engine orchestrates and executes the loading processes automatically in the correct order.',
      'bi-gear',
      '#'
      ) 
    }}

    {{ productFeature(
      'Full Loads and Delta Loads', 
      'Yotilla supports Full Loads with delete detection and Delta Loads. Source with Delta Loads can provide Soft Deletes.',
      'bi-database-up',
      '#'
      ) 
    }}

    {{ productFeature(
      'Scheduler', 
      'Yotilla supports Full Loads with delete detection and Delta Loads. Source with Delta Loads can provide Soft Deletes.',
      'Yotilla can load your sources based on a defined schedule per source.',
      'bi-calendar-week',
      '#'
      ) 
    }}

  </div>
</div>

{# Architecture #}
<div class="text-bg-dark">
  <div class="container px-4 py-4">
    <h2 class="pb-2 border-bottom" id="architecture">The architecture of a modern Data Warehouse with Yotilla</h2>

    <div class="row py-3">
      <div class="col">
        <img src="{{ '/assets/images/product/yotilla-architecture.png' | url}}" class="img-fluid" alt="Yotilla Architecture" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="lead">
          Yotilla enables you to integrate your sources into a modern Data Warehouse fully automatically.
          The modern Data Warehouse consists of the following three layers: Staging, Core and Data Mart.
        </p>
      </div>
    </div>
 
    <dl class="row lead">
      <dt class="col-lg-2 col-sm-2 p-0">Staging</dt>
      <dd class="col-lg-10 col-sm-10">The Staging Layer decouples the Data Warehouse from your sources by ingesting the data into the Data Platform. The data ingestion can be supported by the Data Ingestion tool of your choice.</dd>

      <dt class="col-lg-2 col-sm-2 p-0">Core</dt>
      <dd class="col-lg-10 col-sm-10">The Core Layer is the heart of the Data Warehouse. It contains all the history of the data but also integrates and homogenised your source data into the mapped business objects. Modern Data Warehouses leverage the Data Vault modelling approach consisting of a Raw Vaul and Core Vault. With Yotilla, all required data models for both the Raw Vault and the Business Vault are generated fully automatically. Further, all required ELT processes are generated fully automatically.</dd>

      <dt class="col-lg-2 col-sm-2 p-0">Data Mart</dt>
      <dd class="col-lg-10 col-sm-10">The Data Mart Layer provides a copy of selected business objects of the Core Layer modelled in a way that fast analytical queries can be executed by analytics downstream. The required data models of the Data Mart Layer as well as all loading processes are fully automated by Yotilla.</dd>

      <dt class="col-lg-2 col-sm-2 p-0">Workflow</dt>
      <dd class="col-lg-10 col-sm-10">The Workflow Engine by Yotilla schedules or starts all loading processes in the right order at the specified time so that data flows consistently from Staging through the Core Layer and finally into the Data Mart Layer.</dd>
    </dl>
    
  </div>
</div>

<div class="container px-4 py-4" id="product-demo">
  <h2 class="pb-2 border-bottom">Product Demo</h2>

  <div class="row">
    <div class="col">
      <p class="lead">
        Watch a product demo of a exemplary reatiling use case. Within the demo we showcase how to define the Conceptual Model, extend the Conceptual Model with business formulas and finally define a Data Mart with Yotilla.
      </p>
    </div>
  </div>

  <div class="row align-items-center my-3">
    <div class="col">
      <video
          id="yotilla-demo-player"
          class="video-js img-fluid bg-white"
          style="min-height: 500px;"
          controls
          preload="auto"
          poster="{{ '/assets/video/yotilla-demo-thumbnail.jpg' | url}}"
          data-setup='{}'>
        <source src="{{ '/assets/video/yotilla-demo.mp4' | url }}" type="video/mp4"></source>
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web   browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>.
        </p>
      </video>
    </div>
  </div>
</div>


{# Conceptual Model benefits 

<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">Complete Data Warehouse Automation based on a Conceptual Model</h2>

  <p class="lead">
      Other Data Warehouse Automation approaches require extensive Data Vault know-how and expensive expertise. 
      The hoped-for increase in efficiency is often not achieved.
      Data Warehouse Automation, on the other hand, becomes very efficient when Data Vault modelling is fully automated and is no longer required.
  </p>

  <h3 class="fw-bold fs-4">Highest level of automation</h3>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-3">
    <div class="col d-flex align-items-start">
      <svg class="text-body-secondary flex-shrink-0 me-3" width="2em" height="2em"><use xlink:href="#1-circle"></use></svg>
      <div>
        <h3 class="fw-bold mb-0 fs-5 text-body-emphasis">Automated data modelling</h3>
        <p>
          If the Data Warehouse is automated based on the Conceptual Model, the physical AND logical data modelling for Data Vault can be derived completely. 
          Data Vault expertise is no longer required.
        </p>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <svg class="text-body-secondary flex-shrink-0 me-3" width="2em" height="2em"><use xlink:href="#1-circle"></use></svg>
      <div>
        <h3 class="fw-bold mb-0 fs-5 text-body-emphasis">Fully automated Data Vault</h3>
        <p>
          Yotilla's conceptual model not only contains an mapping of the business objects to the sources, but also the necessary business logic, which is why Yotilla fully automates both the Raw Vault and the Business Vault.
        </p>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <svg class="text-body-secondary flex-shrink-0 me-3" width="2em" height="2em"><use xlink:href="#1-circle"></use></svg>
      <div>
        <h3 class="fw-bold mb-0 fs-5 text-body-emphasis">Automated ETL processes</h3>
        <p>
          As all dependencies are known in Yotilla's Conceptual Model, it is sufficient to start the ETL process for the respective source when new data is delivered. 
            All further process steps are automatically generated, orchestrated and executed by Yotilla.
        </p>
      </div>
    </div>
  </div>

  <h3 class="fw-bold fs-4">Simple data integration</h3>
    
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-3">  
    <div class="col d-flex align-items-start">
      <svg class="text-body-secondary flex-shrink-0 me-3" width="2em" height="2em"><use xlink:href="#1-circle"></use></svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Consolidated attributes from multiple sources</h3>
        <p>
          Business objects and attributes are mapped to data sources in the Conceptual Model. 
          Attributes whose data originates from multiple sources are automatically identified and consolidated.
        </p>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <svg class="text-body-secondary flex-shrink-0 me-3" width="2em" height="2em"><use xlink:href="#1-circle"></use></svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Early transformations</h3>
        <p>
          Source-specific transformations homogenise attributes that originate from multiple sources, e.g. if data types or formats differ. The specified transformations are applied automatically and integrate the data.
        </p>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <svg class="text-body-secondary flex-shrink-0 me-3" width="2em" height="2em"><use xlink:href="#1-circle"></use></svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Separating multiple business objects within a source</h3>
        <p>
          A source can contain data from several business objects. Based on the relationships between the business objects in the conceptual model, these can be automatically stored separately and integrated into the data warehouse.
        </p>
      </div>
    </div>
  </div>

  <h3 class="fw-bold fs-4">Business logic</h3>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-3">
    <div class="col d-flex align-items-start">
      <svg class="text-body-secondary flex-shrink-0 me-3" width="2em" height="2em"><use xlink:href="#1-circle"></use></svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Customised business logic as part of the Conceptual Model</h3>
        <p>
          The required business objects and attributes can be specified in the Conceptual Model for customised business logic.
          This enables Yotilla to provide the required data within a view that can be accessed to define the customised busines logic with SQL and without data vault expertise.
        </p>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <svg class="text-body-secondary flex-shrink-0 me-3" width="2em" height="2em"><use xlink:href="#1-circle"></use></svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Business logic as formula</h3>
        <p>
          Simple business logic can also be specified as a scalar formula that uses business objects and attributes directly. 
          As the relationships of the business objects are known in the Conceptual Model, the implementation of the formula can be fully automated.
        </p>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <svg class="text-body-secondary flex-shrink-0 me-3" width="2em" height="2em"><use xlink:href="#1-circle"></use></svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Automated Data Marts</h3>
        <p>
          In the Conceptual Model, define which attributes are to be provided as a dimension or as a fact in the data mart of the data warehouse.
          As all dependencies of the generated Data Vault model are known, the Data Marts are also generated automatically.
        </p>
      </div>
    </div>

</div>
#}