---
meta:
  lang: en
  title: Home
  description: Automate Data Warehouses at the same pace as business is changing.
layout: base
eleventyNavigation:
  key: Home
---

<style>
  ul.feature-list i.bi {
    color:var(--bs-primary);
  }
</style>

<div class="container">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 px-4">
    <div class="col-10 col-sm-8 col-lg-5">
      <ul class="list-unstyled feature-list">
        <li class="py-2 fs-4"><i class="bi bi-check-circle"></i> Create or modernize your Data Warehouse</li>
        <li class="py-2 fs-4"><i class="bi bi-check-circle"></i> Fully automated data modelling</li>
        <li class="py-2 fs-4"><i class="bi bi-check-circle"></i> Fully automated data integration and ETL</li>
        <li class="py-2 fs-4"><i class="bi bi-check-circle"></i> No Data Vault know-how required</li>
      </ul>
      {# <img src="{{ '/assets/images/home-hero.png' | url }}" class="d-block mx-lg-auto img-fluid" alt="The " width="700" height="500" loading="lazy"> #}
    </div>
    <div class="col-lg-7">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
        Automate Data Warehouses
        <br /><small class="text-muted fs-2">at the same pace as business changes</small>
      </h1>
      <p class="lead">
        Yotilla is a service that automatically provides a Data Warehouse that adapts at the same pace that business changes. 
        Unlike other Data Warehouse Automation solutions on the market, Yotilla fully automates all required data models based on a user-defined Conceptual Model and therefor requires no Data Vault know-how.

      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary btn-lg px-4 gap-3" href="{{ '/pages/product' | url}}">Explore product</a>
        <a class="btn btn-outline-secondary btn-lg px-4" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/marco-naetlitz-yotilla/30min'});return false;">Book a demo</a>
      </div>
    </div>
  </div>
</div>

{% macro uniqueFeature(featureTitle, text='Some text about the feature', icon='bi-question', href='#' ) %}
  <div class="feature col">
    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
      <i class="bi {{icon}}"></i>
    </div>
    <h3 class="fs-4 text-body-emphasis">{{featureTitle}}</h3>
    <p class="lead">{{text}}</p>
    <a href="{{href}}" class="icon-link">Discover more <i class="bi bi-chevron-right"></i></a>
  </div>
{% endmacro %}



<div class="container px-4 py-3">
  <h2 class="pb-2 border-bottom">Why Yotilla?</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    
    {{uniqueFeature(
        'Create or modernize your Data Warehouse', 
        'Integrate your sources into a modern Data Warehouse in the Cloud or On Premise automated by Yotilla.', 
        'bi-magic', '/pages/product/#conceptual-model' | url
        )
    }}

    {{uniqueFeature(
      'No Data Vault know-how required', 
      'Yotilla automates all required logical and physical data models based on a user-defined Conceptual Model. This includes a fully automated Raw Vault and Business Vault as well as the Data Marts.', 
      'bi-layers', '/pages/product/#automated-data-modelling' | url
      )
    }}

    {{uniqueFeature(
      'Be 14x faster and save 50% costs', 
      'The unique automation approach of Yotilla has measurable benefits for customers: 9x faster for initial results, 14x faster adoption of changes and more than 50% cost savings.', 
      'bi-rocket-takeoff', '/pages/product/#customer-benefits' | url
      )
    }}

  </div>
</div>

<!-- for debug: {{ site | dump }} {{page | dump }} {{meta | dump}}-->