---
meta:
  lang: en
  title: Home
  description: Automate Data Warehouses at the same pace as business is changing.
layout: base
eleventyNavigation:
  key: Home
---

<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-8 fw-bold lh-1 text-body-emphasis">
        Automate Data Warehouses<br /><small class="text-muted">at the same pace as business changes</small>
      </h1>
      <p class="lead">
        Yotilla is a service that fully automates a Data Warehouse.
        New sources and business logic are integrated into the Data Warehouse in just a few steps.
        Expensive experts and Data Vault know-how are no longer required.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <a class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" href="{{ '/pages/product/' | url }}">How does it work?</a>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Watch a product demo</button>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
        <img src="/assets/images/index-hero-screenshot.png" alt="Screenshot of the Yotilla user-interface" width="594">
    </div>
  </div>
</div>

<!-- for debug: {{ site | dump }} {{page | dump }} {{meta | dump}}-->
