// Placeholder Images
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

// Bootstrap Icons
.bi {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -0.125em;
}

.img-fit-cover-container {
  &.rounded-3 {
    picture img {
      border-radius: 0.3rem !important;
    }
  }
  picture {
    width: 100%;
    height: 100%;
    display: flex;
  }
  picture img {
    object-fit: cover;
    height: auto;
    width: 100%;
  }
}

// Base Layout
body {
  padding-top: 70px;
}

.yotilla-logo {
  width: 100px;
}

// Callouts
.callout {
  --bs-link-color-rgb: var(--bd-callout-link);
  --bs-code-color: var(--bd-callout-code-color);
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: var(--bd-callout-color, inherit);
  background-color: var(--bd-callout-bg, var(--bs-gray-100));
  border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300))
}

.callout h4 {
  margin-bottom: .25rem
}

.callout>:last-child {
  margin-bottom: 0
}

.callout+.callout {
  margin-top: -.25rem
}

.callout .highlight {
  background-color: rgba(0,0,0,0.05)
}

.callout-warning {
  border-left-color: $yellow-400;
}

.callout-danger {
  border-left-color: $red-400;
}

.callout-info {
  border-left-color: $primary;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


// Features
.feature-icon {
  //width: 4rem;
  //height: 4rem;
  padding: .5rem;
  border-radius: .75rem;
  color: $white;
  background-color: $primary;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  /*
  .featurette-heading {
    font-size: 50px;
  }
   */
}

/*
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
*/
