<!DOCTYPE html>
<html lang="{{ meta.lang or site.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }} - {{ title or meta.title }}</title>

    <link rel="stylesheet" href="{{ '/dist/app.css' | url }}" />

    {% include "meta.njk" %}
  </head>

  <body>
    <!-- skiplinks -->
    <a href="#main" class="visually-hidden-focusable">Skip to main content</a>

    {% include "header.njk" %}

    <main id="main">
      <div class="container py-4">
        <div class="row">
          <div class="col-md-3 docu-sidebar">
            <h2>Topics</h2>
            {{ collections.all | eleventyNavigation("Documentation") | eleventyNavigationToHtml | safe }}
          </div>
          <div class="col-md-9">
            {{ content | safe }}
          </div>
        </div>
      </div>
    </main>

    {% include "footer.njk" %}
    <script type="text/javascript" src="{{ '/dist/app.js' | url }}"></script>
  </body>
</html>
